@interface %«className» : NSObject
+ (%«variableTypeName»)deserializeNode:(xmlNodePtr)node;
+ (%«variableTypeName»)deserializeAttribute:(const char *)attrName ofNode:(xmlNodePtr)node;
+ (void)serializeToNode:(xmlNodePtr)node value:(%«variableTypeName»)value;
+ (void)serializeToProperty:(const char *)property onNode:(xmlNodePtr)node
                      value:(%«variableTypeName»)value;
@end
