#import <Foundation/Foundation.h>
#import <libxml/tree.h>
#import <objc/runtime.h>

#import "USAdditions.h"
#import "USGlobals.h"

%FOREACH type in types
%IFEQ type.assignOrRetain strong
@class %«type.classNameWithoutPtr»;
%ENDIF
%ENDFOR

%FOREACH schema in imports
%IFNOT schema.shouldNotWrite
#import "%«schema.prefix».h"
%ENDIF
%ENDFOR
