@implementation %«name»

+ (void)initialize
{
%FOREACH schema in schema.wsdl.schemas
	[[USGlobals sharedInstance].wsdlStandardNamespaces setObject:@"%«schema.prefix»" forKey:@"%«schema.fullName»"];
%ENDFOR
}

%FOREACH port in ports
+ (%«port.binding.name» *)%«port.binding.name»
{
	return [[[%«port.binding.name» alloc] initWithAddress:@"%«port.address»"] autorelease];
}
%ENDFOR

@end
