@implementation %«className»

+ (void)initialize {
%FOREACH schema in wsdl.schemas
    [USGlobals sharedInstance].wsdlStandardNamespaces[@"%«schema.fullName»"] = @"%«schema.prefix»";
%ENDFOR
}

%FOREACH port in ports
+ (%«port.binding.className» *)%«port.binding.cleanName» {
    return [[%«port.binding.className» alloc] initWithAddress:@"%«port.address»"];
}
%ENDFOR

@end
