#import "USGlobals.h"

USGlobals *sharedInstance = nil;

@implementation USGlobals
+ (USGlobals *)sharedInstance
{
	if(sharedInstance == nil){
		sharedInstance = [[USGlobals alloc] init];
	}

	return sharedInstance;
}

- (id)init
{
	if((self = [super init])){
		_wsdlStandardNamespaces = [[NSMutableDictionary alloc] init];
	}

	return self;
}
@end
